DB_HOST=localhost
DB_PORT=5432
PORT=3000
DB_USERNAME=postgres
DB_PASSWORD=desarrollo
DB_DATABASE=bajon
DATABASE_URL=postgres://postgres:desarrollo@localhost:5432/bajon

# DB_TEST_DATABASE=unahur_desapp_test
